/* Add CSS Styling */

p{
    background-color: #FF8BA0;
    font-family: Verdana, DejaVu Sans, sans-serif;
}

#second {
    color: #7DF9FF;
    font-size: 36px;
}

#third {
    font-size: 24px;
}

#fourth{
    background-color: #50C878;
    font-size: 24px;
    font-weight: 700;
}